$test-color: red;

// responsive
$mobile-w: 360;
$tablet-w: 834;
$desktop-w: 1500;

// color
$background-color-white: #F8F8F8;
// components
@mixin title-big {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
@mixin sora-800-xl {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}
@mixin sora-800-lg {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
}
@mixin sora-800-md {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}
@mixin sora-800-sm {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
}
@mixin sora-700-md {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
@mixin sora-700-sm {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
@mixin sora-600-sm {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
@mixin sora-400-lg {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@mixin roboto-600-lg {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
@mixin roboto-600-md {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
@mixin roboto-600-sm {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
@mixin roboto-500-xs {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
@mixin roboto-400-md {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@mixin roboto-400-sm {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
@mixin roboto-400-sm-i {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

// keyframes
@keyframes intro-y {
  0% {
    opacity: 0.2;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes intro-y-bot {
  0% {
    opacity: 0.2;
    transform: translateY(calc(100vh + 200px)) scale(0.6);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

  }
}
@keyframes headerFixedIndex {
  0% {
    top: 74px;
  }
  100% {
    top: 37px ;
  }
}


// z-index
$zi-infor-button: 500;
$zi-pop-up-header: 1000;
$zi-pop-up-my-score: 2500;
$zi-header: 2000;
$zi-log-in: 3000;