@import "./common-var.scss";
/* Load font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Sora:wght@400;600;700;800&display=swap');
$body-color: red;
html {
  font-family: 'Roboto', sans-serif;
  // font-size: 27.7778vw; /* = 100*100/360 */
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  background: url(./img/cloud-01.svg), url(./img/cloud-02.svg), url(./img/cloud-03.svg), url(./img/cloud-04.svg), url(./img/bot-bg.jpg);
  background-repeat: no-repeat;
  background-position: calc(100% + 20px) 126px, -4px 13px, -36px 738px, calc(100% + 25px) 659px, 0 bottom;
  background-color: $tournament-color-light-blue;
  color: #666666;
  margin-left: auto;
  margin-right: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */  
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.ellipsis-nh {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-nh::after {
  content: "";
  padding: 0.01rem;
}
.ellipsis-h2 {
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ellipsis-h2::after {
  content: '';
  padding: .01rem;
}
.ellipsis-h3 {
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.ellipsis-h3::after {
  content: '';
  padding: .01rem;
}
.df-jcc-aic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.hc-tdn:hover {
  cursor: pointer;
  text-decoration: none;
}
.wsd::-webkit-scrollbar{
  display:none;
}