@import "./common-var.scss";

$button-color--border: #004586;
$button-color--icon: #004483;
$button-color--background: #FFFFFF;
$button-color-active--border: #FFFFFF;
$button-color-active--icon: #FFFFFF;
$button-color-active--background: #EE2E8E;

.ch.header {
  // display: none;
  position: sticky;
  z-index: $zi-header;
  top: 37px;
  width: calc(100% - 32px);
  height: 40px;
  justify-content: space-between;
  margin: 10px 16px;
  color: $test-color;
  .icon{
    width: 118px;
    height: 40px;
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  .buttons {
    div {
      width: 39px;
      height: 38px;
      position: relative;
      background: $button-color--background;
      border: 1.5px solid $button-color--border;
      box-shadow: 0px 2px 0px $button-color--border;
      border-radius: 100px;
      i {
        color: $button-color--icon;
      }
      &.active {
        background: $button-color-active--background;
        border-color: $button-color-active--border;
        i {
          color: $button-color-active--icon;
        }
      }
      &:nth-child(1n + 2) {
        margin-left: 12px;
      }
    }
  }
}
.ch.header-adapter {
  margin-bottom: 36px;
}

