@import "../header/common-var.scss";

.ctl.time-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(212, 241, 247, 0.7);
  padding: 12px 0px;
  margin-bottom: 20px;
  flex-flow: column;

  .title {
    @include roboto-400-sm;
    color: #04223f;
    text-align: center;
    margin-top: 4px;
  }

  .date {
    @include roboto-600-sm;
    text-align: center;
    color: #ff0053;
  }

  .current-tour {
    @include roboto-400-sm;
    mix-blend-mode: 4px;
    color: #04223F;
    text-align: center;
  }

  .time-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    @include roboto-600-md;
    color: #04223f;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 100px;
    padding: 8px 16px;
    gap: 8px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}