@import "../header/common-var.scss";
.cli.log-in {
  display: none;
  background: url(./../header/img/cloud-01.svg), url(./../header/img/cloud-02.svg), url(./../header/img/bot-bg.jpg);
  background-repeat: no-repeat;
  background-position: calc(100% + 20px) 126px, -4px 13px, 0 calc(100% + 145px);
  background-color: $tournament-color-light-blue;
  position: fixed;
  width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 91px;
  padding-bottom: 20px;
  z-index: $zi-log-in;
  animation: intro-y 0.5s;
  .logo {
    padding: 0 16px;
    margin: 0 44px 25px;
    display: flex;
    justify-content: center;
  }
  .connect {
    margin-bottom: 23px;
    padding: 0 16px;
    text-align: center;
    &-title {
      @include sora-800-xl;
      color: #004483;
      margin-bottom: 8px;
    }
    &-description {
      @include sora-600-sm;
      color: #000000;
    }
  }
  .form-log-in {
    display: flex;
    flex-flow: column;
    padding: 0 16px;
    margin-bottom: 40px;
    input {
      background: rgba(255, 255, 255, 0.6);
      border: 2px solid #ffffff;
      border-radius: 100px;
      margin-bottom: 20px;
      padding: 16px;
      @include sora-600-sm;
      color: #000000;
      &::placeholder {
        @include sora-600-sm;
        color: #9a9a9a;
      }
      &:focus-visible {
        outline: 2px solid #ff0053;
      }
    }
    .login-btn {
      display: flex;
      justify-content: center;
      button {
        @include sora-700-md;
        color: #04223f;
        padding: 10px 20px;
        background: #fee600;
        box-shadow: 0px 5px 0px #c6b304;
        border-radius: 100px;
        border: 0;
        &:disabled{
          background: #EBEBEB;
          box-shadow: 0px 5px 0px #D7D7D7;
          color: #D7D7D7;
        }
      }
    }
  }
  .create-account {
    text-align: center;
    &-title {
      @include sora-600-sm;
      color: #000000;
      margin-bottom: 8px;
    }
    &-click {
      @include sora-600-sm;
      color: #ff0053;
      text-decoration-line: underline;
      text-transform: uppercase;
    }
  }
}

