@import "./../header/common-var.scss";

$button-color--border: #004586;
$button-color--icon: #004483;
$button-color--background: #ffffff;
$button-color-active--border: #ffffff;
$button-color-active--icon: #ffffff;
$button-color-active--background: #ee2e8e;

.cph.pop-up-header {
  position: fixed;
  width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 80px;
  padding-bottom: 20px;
  z-index: $zi-pop-up-header;
  display: none;

  .menu-popup {
    display: none;
    background: url(./../header/img/cloud-01.svg), url(./../header/img/cloud-02.svg), url(./../header/img/bot-bg.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% + 20px) 126px, -4px 13px, 0 calc(100% + 145px);
    background-color: $tournament-color-light-blue;
    position: fixed;
    width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 80px;
    padding-bottom: 20px;
    animation: intro-y 0.5s;

    &-list {
      padding: 10px 16px;
      margin-bottom: 10px;
      justify-content: center;
      display: flex;
      flex-flow: column;

      button {
        padding: 20px 0;
        @include sora-400-lg;
        color: #1a1818;
        background: transparent;
        border: 0;
        text-transform: uppercase;
      }
    }

    &-button {
      margin-bottom: 45px;
      display: flex;
      justify-content: center;
    }

    &-view-more {
      padding: 10px 20px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(10px);
      border-radius: 16px;
      justify-content: center;
      display: flex;
      flex-flow: column;
      margin: 0 16px;
      text-align: center;

      .title {
        @include sora-800-sm;
        color: #004483;
        margin-bottom: 8px;
      }

      .descrpition {
        @include roboto-400-sm;
        color: #000000;
        margin-bottom: 20px;
      }

      .view-more-btn {
        @include sora-700-sm;
        padding: 8px 16px;
        border: 2px solid #04223f;
        border-radius: 100px;
        color: #04223f;
        text-transform: uppercase;
      }
    }
  }

  .info-popup,
  .tc-popup,
  .prizes-popup,
  .faqs-popup {
    display: none;
    background: white;
    position: fixed;
    max-height: 70vh;
    overflow-y: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px 16px 0px 0px;
    padding: 20px;
    animation: intro-y-bot 0.5s;

    &-top {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      .icon {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.5px solid #004483;
        box-shadow: 0px 2px 0px #004586;
        border-radius: 100px;
        margin-right: 8px;

        i {
          font-size: 14px;
          color: #004483;
        }
      }

      .title {
        @include sora-800-lg;
        color: #000000;
      }

      .close {
        margin-left: auto;
        z-index: $zi-pop-up-header;
        
        i {
          color: #000000;
          font-size: 20px;
        }
      }
    }

    &-content {
      @include roboto-400-sm;
      color: #1a1818;
      margin-bottom: 20px;
    }

    &-button {
      display: flex;
      justify-content: center;
      
    }
    &-mh {
      max-height: 60vh;
      overflow-y: auto;
    }

    .tc-popup-content {
      max-height: 50vh;
      overflow-y: auto;
      padding-right: 5px;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb {
        background: #ff0053;
        border-radius: 10px;
      }
    }
    .prizes-popup {
      &-img {
        margin-bottom: 20px;
        img {
          max-width: 375px;
        }
      }
      &-title {
        @include sora-800-md;
        color: #1a1818;
        margin-bottom: 10px;
      }
      &-mh {
        max-height: 50vh;
        overflow-y: auto;
        padding-right: 5px;
        margin-bottom: 5px;

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 100px;
        }

        &::-webkit-scrollbar-thumb {
          background: #ff0053;
          border-radius: 10px;
        }
      }
      &-content {
        .prizes-popup-items {
          margin-bottom: 20px;
          .infor {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .img {
              height: 80px;
              width: auto;
            }
            .title {
              .ordinal {
                @include roboto-500-xs;
                color: #04223f;
                margin-bottom: 2px;
              }
              .name {
                @include sora-700-sm;
                color: #1a1818;
              }
            }
          }
          .content {
            margin-bottom: 10px;
          }
          .abouts-huawei {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
              font-family: Roboto;
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              color: #ff0053;
              text-decoration: revert;
            }
            i {
              font-size: 16px;
              color: #ff0053;
            }
          }
        }
      }
    }
    .faqs-popup {
      &-type{
        @include sora-800-md;
        color: #FF0053;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 10px;
      }
      &-mh {
        max-height: 50vh;
        overflow-y: auto;
        padding-right: 5px;
        margin-bottom: 5px;

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 100px;
        }

        &::-webkit-scrollbar-thumb {
          background: #ff0053;
          border-radius: 10px;
        }
      }
      &-questions, &-questions-physical {
        margin-bottom: 20px;
        &-items {
          .question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 18px;
            background: white;
            margin-bottom: 10px;
            box-shadow: 0px 2px 25px rgba(50, 50, 71, 0.1);
            border-radius: 6px;
            &.active {
              box-shadow: 0px 0px 0px 2px rgba(255, 0, 84, 0.2);
              border: 1px solid #ff0053;
            }
            .text {
              @include sora-600-sm;
              color: #000000;
              width: 95%;
              padding-right: 10px;
            }
            .icon {
              width: 5%;
              i {
                font-size: 16px;
                color: #ff0053;
                transition: 0.2s all ease-in-out;
              }
            }
          }
          .answer {
            @include roboto-400-sm;
            color: #1a1818;
            margin-bottom: 20px;
            display: none;
            transition: 0.5s all ease-in-out;
            ul{
              padding-inline-start: 20px;
            }
          }
        }
      }
    }
  }

  .play-game {
    background: #fee600;
    color: #04223f;
    @include sora-700-md;
    box-shadow: 0px 5px 0px #c6b304;
    border-radius: 100px;
    padding: 10px 20px;
    border: 0;
    margin-bottom: 5px;
  }
}
