<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ludigames - Lite Page </title>
	<link rel="dns-prefetch" href="//securepubads.g.doubleclick.net">
	<link rel="dns-prefetch" href="//adservice.google.com">
	<link rel="dns-prefetch" href="//tpc.googlesyndication.com">
	<link rel="dns-prefetch" href="//www.google-analytics.com">
	<link rel="dns-prefetch" href="//www.google.com">
	<link rel="dns-prefetch" href="//www.googletagmanager.com">
	<link rel="dns-prefetch" href="//www.googletagservices.com">
	<link rel="preconnect" href="//securepubads.g.doubleclick.net">

	<!-- Site Icon -->
	<link rel="icon" href="./favicon.ico" type="image/x-icon" />
	
	<meta name="apple-mobile-web-app-title" content="Ludigames - Lite Page">
	<meta name="application-name" content="Ludigames - Lite Page">
	<!-- Mobile metas and deactivate pinch in feature -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
	<meta name="HandheldFriendly" content="true" />
	<!-- Site Encoding UTF-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="theme-color" content="#00b0f0" />
	<!-- Title and description meta -->
	<meta name="title" content="Ludigames - Lite Page">
	<meta name="description" content="Ludigames is a free portal with awesome HTML5 games, optimized for mobile phones. All the latest releases at https://play.ludigames.com/">

	<link rel="manifest" href="./manifest.json">
	<script type="text/javascript">
    (function() {
      var purl = window.location.href;
      var url = '//ads.pubmatic.com/AdServer/js/pwt/159998/2959';
      var profileVersionId = '';
      if(purl.indexOf('pwtv=')>0){
        var regexp = /pwtv=(.*?)(&|$)/g;
        var matches = regexp.exec(purl);
        if(matches.length >= 2 && matches[1].length > 0){
          profileVersionId = '/'+matches[1];
        }
      }
      window.document.write('<script type="text/javascript" token operator">'+url+profileVersionId+'/pwt.js'+'"></scr'+'ipt>');
    })();
  </script>
  <script>
    //load the apstag.js library
    !function(a9,a,p,s,t,A,g){if(a[a9])return;function q(c,r){a[a9]._Q.push([c,r])}a[a9]={init:function(){q("i",arguments)},fetchBids:function(){q("f",arguments)},setDisplayBids:function(){},targetingKeys:function(){return[]},_Q:[]};A=p.createElement(s);A.async=!0;A.src=t;g=p.getElementsByTagName(s)[0];g.parentNode.insertBefore(A,g)}("apstag",window,document,"script","//c.amazon-adsystem.com/aax2/apstag.js");
  </script>
  <script>
		window.ga_channel_name = window.ga_channel_name || location.search.split('utm_campaign=')[1] ? location.search.split('utm_campaign=')[1].split('&')[0] : "undefined";
  </script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PLZ2PKZ');</script>
  <!-- End Google Tag Manager -->
  <%= htmlWebpackPlugin.tags.headTags %> 
</head>

<body class="profile" style="visibility: hidden;">
	<header></header>
  <cph-pop-up-header></cph-pop-up-header>
  <clg-log-in></clg-log-in>
  <cib-infor-button></cib-infor-button>
  <cpmi-my-infor></cpmi-my-infor>
  <cpmi-pop-up-my-infor></cpmi-pop-up-my-infor>
  <my-rank></my-rank>
  <my-scores></my-scores>
  <cpms-pop-up-my-scores></cpms-pop-up-my-scores>
  <cpe-event></cpe-event>

  <footer></footer>
  <back-to-top></back-to-top>
</body>

</html>