@import "../../common/header/common-var.scss";
.cli.infor {
  padding-bottom: 21px;
  margin-top: 49px;

  .top{
    padding: 0 16px;
    margin-bottom: 16px;
    text-align: center;
    &-title{
      @include sora-800-xl;
      color: #004483;
    }
    &-content{
      @include roboto-400-md;
      color: #1A1818;
    }
  }

}
