.ccbt {
  display: none;
  // display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  border-top: 1px solid #223d5a;
  .back-to-top {
    display: flex;
    cursor: pointer;
    .content {
      margin-left: 10px;
      font-weight: bold;
      font-size: 16px;
      font-family: "Roboto";
      color: white;
    }
  }
}

html {
  scroll-behavior: smooth;
}
