@import "../../common/header/common-var.scss";
.plpl.pre-leaderboard {
  margin-top: 49px;

  .top {
    padding: 0 16px;
    margin-bottom: 10px;
    text-align: center;
    &-title {
      @include sora-800-xl;
      color: #004483;
    }
    &-content {
      @include roboto-400-md;
      color: #1a1818;
    }
  }
  .scores-list {
    margin-bottom: 28px;
    padding: 0 16px;
    .items {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 0;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.5);

      .no {
        @include roboto-400-sm;
        margin-right: 8px;
        color: #000000;
      }

      .avatar {
        width: 42px;
        height: 42px;
        border: 1px solid #ffffff;
        border-radius: 31.3433px;
        margin-right: 8px;
      }

      .name {
        @include roboto-400-sm;
        color: #000000;
        word-break: break-word;
      }

      .points {
        margin-left: auto;
        @include roboto-400-sm;
        color: #000000;
      }
    }
  }
  .date-tour {
    background: rgba(212, 241, 247, 0.7);
    padding: 12px 0px;
    margin-bottom: 20px;
    .title {
      @include roboto-400-sm;
      color: #04223f;
      text-align: center;
      margin-top: 4px;
    }
    .date {
      @include roboto-600-sm;
      text-align: center;
      color: #ff0053;
    }
  }
  .information {
    margin-bottom: 10px;
    padding: 0 16px;
    .title {
      @include sora-800-lg;
      color: #04223f;
      text-align: center
    }
    .description {
      @include roboto-400-md;
      color: #1a1818;
      text-align: center
    }
  }
}
